body {
    background-color: rgb(104, 214, 214);
    color: white;
    text-transform: uppercase;
}


ul {
    list-style-type: none;
    padding: 0;
}
li {
    cursor: pointer;
    margin: 5px 0;
}
.concluida {
    text-decoration: line-through;
}

#tarefa {
    height: 30px;
}

#cadastrar {
height: 30px;
}

.tudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

